<h1><%= @machine.location %> Vending Machine</h1>
<section class="snack-list">
  <% @machine.snacks.each do |snack| %>
    <p><%= snack.name %>: $<%= snack.price %></p>
  <% end %>
</section>

<section class="average-price">
  <p>Average Price: $<%= @machine.snacks.average_price.round(2) %></p>
</section>
