<h1><%= @machine.location %> Vending Machine</h1>

<h2>Snacks</h2>
<% @machine.snacks.each do |snack| %>
  <%= snack.name %>
  <p>$<%= snack.price %>.00</p>
<% end %>
<p>Average Price: $<%= @machine.average_snack_price %></p>
