<h1><%= @machine.location %> Vending Machine</h1>
<p>Snacks:</p>
<% @machine.snacks.each do |snack| %>
<%= snack.name %>: $<%= snack.price  %>0
<% end %>
<p>Average Price: $<%= @machine.average_snack_price.to_f.round(2) %></p>
