<h1><%= @machine.location %> Vending Machine</h1>

<h2>This vending machine's snacks:</h2>
<% @machine.snacks.each do |snack| %>
  <%= snack.name %>: <%= number_to_currency(snack.price) %></br>
<% end %>

<h2>Average price for all snacks in this machine:</h2>

