<h1><%= @machine.location %> Vending Machine</h1>

<% @machine.snacks.each do |snack| %>
  <section id='snack-<%= snack.id %>'>
    <p><%= snack.name %></p>
    <p><%= snack.currency_price %></p>
  </section>
<% end %>
