<h1><%= @machine.location %> Vending Machine</h1>

<section class="snacks-index">
  <% @machine.snacks.each do |snack| %>
    <p><%= snack.name %></p>
    <p><%= snack.price %></p>
    <% end %>
</section>

<section class="machine-stats">
  <p>Average Price of All Snacks: <%= number_to_currency(@machine.average_price) %></p>
</section>
