<h1><%= @machine.location %> Vending Machine</h1>

<h3>Snacks:</h3>

  <ul>
  <% @machine.snacks.each do |snack| %>
    <li><%= "#{snack.name}" %>: <%= "$#{number_with_precision(snack.price, precision: 2)}" %></li>
  <% end %>
  </ul>
  
<p>Average Price: $<%= "#{number_with_precision(@machine.average_snack_price, precision: 2)}" %></p>
