<h1><%= @machine.location %> Vending Machine</h1>

<section class="machine-snacks-main-block" >
  <%= @machine.snacks.each do |snack| %>
    <h3><%= snack.name.upcase %>: $<%= snack.price %></h3>
  <% end %>
</section>
