<h1><%= @machine.location %> Vending Machine</h1>
<br>
<section>
  <% @machine.snacks.each do |snack| %>
    <div id= <%= "#{snack.id}" %>>
      <%= "#{snack.name}: #{snack.display_price}" %>
    </div>
  <% end %>
</section>
<br>
<h3><%= "Average Snack Price: #{@machine.display_average_snack_price}" %>
